<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">   
</head>
<body>
    <div>
        <h3>Modify Book's Information</h3>
        <form action="" method="post">
            {% csrf_token %}
            <table border="1">
                <tr>
                    <td>ID</td>
                    <td>{{ id }}</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td><input type="text" value="{{ name }}"></td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td><input type="text" value="{{ price }}"></td>
                </tr>
                <tr>
                    <td>Author</td>
                </tr>
                <tr>
                    <td>Publisher</td>
                </tr>

            </table> 

        </form>
    </div>
</body>
</html>