{% extends 'book/base.html' %}
{% load static %}
{% load formset_tags %}
{% load book_extras %}
{% block title %}Index{% endblock %}

{% block content %}
<br>
    <h1>The list of Books</h1>
    {% current_time "%Y-%m-%d %I:%M %p" as the_time %}
    <span>The time is {{ the_time }}</span>

    <form action="" method="post">
      {% csrf_token %}

        <div id="formset" data-formset-prefix="{{ formset.prefix }}">
            {{ formset.management_form }}
        
            <div data-formset-body>
                <!-- New forms will be inserted in here -->
                {% for form in formset %}
                <div data-formset-form>
                  {{ form }}
                  <div class="hidden">{{ form.DELETE }}</div>
                  <button type="button" data-formset-delete-button>Delete form</button>
                </div>
                {% endfor %}
            </div>
            <script type="form-template" data-formset-empty-form>
              {% escapescript %}
                  <div data-formset-form>
                      {{ formset.empty_form }}
                      <div class="hidden">{{ form.DELETE }}</div>
                      <button type="button" data-formset-delete-button>Delete form</button>
                  </div>
              {% endescapescript %}
            </script>
        
            <!-- This button will add a new form when clicked -->
        <input type="button" value="Add Book" data-formset-add>
        <a href="{% url 'book:add_book' %}">
        <input type="submit" value="Submit" id="add"></a>
        
        </div>
    </form>
{% endblock %}

{% block script %}
  {{ formset.media }}
  <script>
  $(function() {
    $("#formset").formset({
        animateForms: true
    });
  });
  </script>
{% endblock %}
